<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div>
      <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div>
      <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board'">온라인 평점</a>
      </div>
      <div class="board-link">
        <a [routerLink]="'/board'">이용약관</a>
      </div>
      <div class="board-link">
        <a [routerLink]="'/board'">개인정보 및 쿠키</a>
      </div>
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo">
      </div>
      <div class="col col-md-8 col-12 footer-description">
        심포지엄 사무국 (담당자: 김민정 책임연구원,최하늘 연구원,이경희 연구원)<br>
        Tel : +82-2-2148-9958, +82-2-2008-4054, +82-2-2008-4056<br>
        E-mail : scrmi.smc@gmail.com
      </div>
    </div>
  </div>
</footer>
