.vod {
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid var(--gray5);
  background: var(--white);

  .vod-info {
    &> div {
      margin-bottom: 8px;
    }

    .category {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--black);
    }

    .title {
      font-size: 1.4rem;
      color: var(--gray14);
    }

    .description  {
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: var(--gray14);
    }
  }

  .speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    .speaker {
      position: relative;
      flex-basis: 32%;
      padding: 6px 6px 6px 80px;
      min-height: 80px;
      box-shadow: 1px 2px 3px RGBA(0, 0, 0, .05);
      border-radius: 4px;
      border: 1px solid var(--gray4);

      @media(max-width: 768px) {
        & {
          flex-basis: auto;
          width: 100% !important;
        }
      }


      .photo {
        position: absolute;
        margin: auto;
        top: 0;
        left: 10px;
        bottom: 0;
        width: 60px;
        height: 60px;
        background-color: var(--gray4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        border: 1px solid var(--gray4);
      }

      h4 {
        margin-bottom: 8px;
        font-size: 1rem;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
        font-size: 1rem;
        color: #636363
      }
    }
  }

}

@media screen and (max-width : 991px) {
  .lecture .speakers .speaker {
    flex-basis: 100%;
  }
}
