<div class="vod" (click)="goDetail()">
  <div class="vod-info">
    <div class="category" *ngIf="vod.category">{{vod.category.categoryName}}</div>
    <div class="title" *ngIf="vod.title">{{vod.title}}</div>
    <div class="description" *ngIf="vod.description">{{vod.description}}</div>
  </div>
  <div class="speakers">
    <div class="speaker" *ngFor="let speaker of vod.speakers">
      <div class="photo" [style.backgroundImage]="'url('+speaker.photoUrl+')'">
      </div>
      <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
      <p *ngIf="speaker.company">{{speaker.company}}</p>
      <p *ngIf="speaker.country">{{speaker.country}}</p>
    </div>
  </div>
</div>
