<div class="agenda-list">
  <div class="agenda-list-item" *ngIf="programLive">
    <p class="title">
      LIVE
    </p>
    <div role="button" class="item-live" *ngFor="let agenda of programLive" [routerLink]="['/live']">
      <p class="item-title">{{agenda.title}}</p>
      <p class="ellipsis line" [innerHtml]="agenda.description">
      </p>
      <span class="item-time">{{agenda.date.date | date:('yyyy.MM.dd (EEE.)')}}</span>
    </div>
  </div>
</div>
