<div class="sponsor-wrapper" [attr.data-target]="'#sponsorModal_'+sponsor.id" data-toggle="modal" role="button"
  (click)="setDesc('sponsorModal_'+sponsor.id)">
  <figure>
    <div class="image-wrapper">
      <img [src]="sponsor.photoUrl" alt="sponsor.name">
    </div>
    <figcaption class="sponsor-info">
      <p class="item-name ellipsis line">
        {{sponsor.name || ''}}
      </p>
    </figcaption>
  </figure>
</div>

<!-- sponsor modal -->
<div class="modal detail-modal fade" [id]="'sponsorModal_'+sponsor.id" tabindex="-1" role="dialog"
  aria-labelledby="sponsorModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="sponsors">
          <div class="image-wrapper">
            <img [src]="sponsor.photoUrl" alt="sponsor.name">
            <div class="item-info">
              <p class="item-name">{{sponsor.name || ''}}</p>
              <a *ngIf="sponsor.url" title="{{sponsor.name+ ' 바로가기'}}" target="_blank" [href]="sponsor.url"
                class="home-link">Go homepage</a>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments">
              <span class="not-drag attachment-text">첨부파일</span>
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self"
                  title="{{attachment.title}}" [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
          <figcaption *ngIf="sponsor.description">
          </figcaption>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" [id]="'sponsorModal_'+sponsor.id+'desc'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
