.timetable {
  text-align: center;

  .timetable-image {
    max-height: 1680px;
  }

  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }
  table {
    width: 100%;
    border: 1px solid #ccc;
    th {
      padding: 7px 5px 9px;
      position: relative;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      background: #0F1551;
      border: 1px solid #ccc;
     .channel-btn {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 999;
        outline: none;
        cursor: pointer;
        &:hover{
          background: rgba( 0, 0, 0, 0.1);
          transition: all 0.5s;
        }
      }
    }
    td {
      padding: 7px 5px 9px;
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      background: #fff;
      border: 1px solid #ccc;
      &.type01 {
        background: #f9d3be;
        &.m {
          background: #f2a57b;
        }
      }
      &.type02 {
        background: #edbcda;
        &.m {
          background: #d86bac;
        }
      }
      &.type03 {
        background: #F7FAAF;
        &.m {
          background: #ecf44f;
        }
      }
      &.type04 {
        background: #bddee3;
        &.m {
          background: #61b0bc;
        }
      }
      &.day {
        background: #0078d6;
        color: #fff;
      }
      span.red {
        color: var(--red);
      }
    }
  }
}

@media(max-width: 767px) {
  .timetable {
    .timetable-label {
      margin-bottom: 4px;
      font-size: 1rem;
    }
    table {
      th {
        // padding: 8px 5px 9px;
        font-size: 1rem;
      }
      td {
        font-size: 1rem;
      }
    }
  }
}

@media(max-width: 575px) {
  .timetable {
    table {
      th {
        padding: 4px 2px;
        font-size: 0.6rem;
      }
      td {
        padding: 4px 2px;
        font-size: 0.6rem;
      }
    }
  }
}
