<div class="timetable">
  <!-- <p class="timetable-label">(K): Korean Session</p> -->
  <!-- <iframe src="assets/img/time-table.pdf" style="width: 100%; height: 2400px;" frameborder="0" scrolling="no"></iframe> -->
  <img class="timetable-image" src="../../../assets/img/time-table.png" alt="타임테이블">
  <!-- <table class="program" #table1>
    <colgroup>
      <col style="width:12%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th #th1>Channel A<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
        </th>
        <th>Channel B<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
        </th>
        <th>Channel C<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
        </th>
        <th>Channel D<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 3)"></div>
        </th>
      </tr>
      <tr>
        <td class="time">Time / Session</td>
        <td class="m type02">Clinical diabetes and therapeutics / Diabetic complications / Epidemiology</td>
        <td class="m type01">Behavioral medicine / Education/Clinical nutrition / Self-care</td>
        <td class="m type04">Basic &amp; Translational Diabetes research (1)</td>
        <td class="m type03">Basic &amp; Translational Diabetes research (2)</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="day">1<sup>st</sup> day (Friday 18 September, 2020)</td>
      </tr>
      <tr>
        <td>09:00 ~ 09:10</td>
        <td>Opening address</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>09:10 ~ 11:10</td>
        <td class="type02">S1 Diabetic complications 1</td>
        <td class="type01">S2 Behavioral medicine / education<br><span class="red">(K)</span></td>
        <td class="type04">S3 Molecular metabolism</td>
        <td class="type03">S4 Integrated physiology</td>
      </tr>
      <tr>
        <td>11:10 ~ 11:30</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>11:30 ~ 12:00</td>
        <td>Plenary lecture 1</td>
        <td colspan="3" rowspan="3"></td>
      </tr>
      <tr>
        <td>12:00 ~ 12:30</td>
        <td>Plenary lecture 2</td>
      </tr>
      <tr>
        <td>12:30 ~ 12:50</td>
        <td>SP4 Sulwon Award</td>
      </tr>
      <tr>
        <td>12:50 ~ 13:10</td>
        <td>Satellite symposium 1</td>
        <td>Satellite symposium 2</td>
        <td>Satellite symposium 3</td>
        <td>Satellite symposium 4</td>
      </tr>
      <tr>
        <td>13:10 ~ 14:00</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>14:00 ~ 16:00</td>
        <td class="type02">S5 Clinical diabetes and therapeutics 1</td>
        <td class="type01">S6 Self-care<br><span class="red">(K)</span></td>
        <td>SP1 Debate session-SGLT2 inhibitor</td>
        <td>CS1 Committee of the health insurance and government relation session<br><span class="red">(K)</span>></td>
      </tr>
      <tr>
        <td>16:00 ~ 16:20</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>16:20 ~ 18:20</td>
        <td class="type02">S7 Diabetic complications 2</td>
        <td class="type01">S8 Clinical nutrition<br><span class="red">(K)</span></td>
        <td class="type04">S9 Diabetes technology</td>
        <td class="type03">S10 Basic research</td>
      </tr>
    </tbody>
  </table>
  <table class="program" #table2>
    <colgroup>
      <col style="width:12%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th #th2>Channel A<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)"></div>
        </th>
        <th>Channel B<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
        </th>
        <th>Channel C<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
        </th>
        <th>Channel D<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 3)"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="day">2<sup>nd</sup> day (Saturday 19 September, 2020)</td>
      </tr>
      <tr>
        <td>08:30 ~ 08:50</td>
        <td>Satellite symposium 5</td>
        <td>Satellite symposium 6</td>
        <td>Satellite symposium 7</td>
        <td>Satellite symposium 8</td>
      </tr>
      <tr>
        <td>09:00 ~ 11:00</td>
        <td class="type02">S11 Clinical diabetes and therapeutics 2</td>
        <td class="type01">S12 Epidemiology &amp; genetics<br><span class="red">(K)</span></td>
        <td class="type04">S13 Metabolomics in metabolic disease </td>
        <td></td>
      </tr>
      <tr>
        <td>11:00 ~ 11:20</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>11:20 ~ 12:00</td>
        <td>Plenary lecture 3</td>
        <td colspan="3" rowspan="3"></td>
      </tr>
      <tr>
        <td>12:00 ~ 12:10</td>
        <td>Research contract</td>
      </tr>
      <tr>
        <td>12:10 ~ 12:30</td>
        <td>SP5 Young Investigator Award</td>
      </tr>
      <tr>
        <td>12:30-12:50</td>
        <td>Satellite symposium 9</td>
        <td>Satellite symposium 10</td>
        <td>Satellite symposium 11</td>
        <td></td>
      </tr>
      <tr>
        <td>12:50 ~ 13:30</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>13:30 ~ 15:30</td>
        <td>RG1 AIBIS - beta cell research group of KDA joint session</td>
        <td>RG2 Research group on diabetic neuropathy session<br><span class="red">(K)</span></td>
        <td>CS2 Diabetes and metabolism journal session</td>
        <td>RG3 Research group on fatty liver disease session<br><span class="red">(K)</span></td>
      </tr>
      <tr>
        <td>15:30 ~ 15:50</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>15:50 ~ 17:50</td>
        <td>CS3 Diabetes prevention</td>
        <td>RG4 Research group on diabetic vascular cell biology session<br><span class="red">(K)</span></td>
        <td>SP2 Precision medicine</td>
        <td>SP3 AI drug target<br><span class="red">(K)</span></td>
      </tr>
      <tr>
        <td>17:50 ~ </td>
        <td>Closing ceremony</td>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table> -->
</div>
