<div [ngClass]="{'content-body patten-true': !opt }">
  <app-banner *ngIf="!opt"></app-banner>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Welcome</h2>
      </div>
    </div>
    <article [ngClass]="{ 'background-true' : !opt, 'about': !opt } ">
      <div class="content-inner" *ngIf="opt">
        <p [innerHTML]="event?.description | safeHtml "></p>
        <a *ngIf="opt" class="view-more" [routerLink]="'/about'">
          <span>더보기</span>
          <i class="icon-more" aria-hidden="true"></i>
        </a>
      </div>
      <div class="content-inner" *ngIf="!opt">
        <p [innerHTML]="event?.description2 | safeHtml "></p>
      </div>
    </article>
  </div>
</div>
