.player-wrapper {
  .player {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 460px;
    .left-wrapper {
      position: relative;
      width: 70%;
      background: var(--black);

      .video-js,
      #videoJs {
        width: 100%;
        height: 0;
        overflow: hidden;

        #videoJs_html5_api {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right-wrapper {
      position: relative;
      min-width: 30%;
      min-height: 460px;
      display: flex;
      flex-direction: column;
      .ad {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white);

        img {
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }
      }

      .reply {
        display: flex;
        flex: 1;
        flex-direction: column;
        .reply-header {
          padding: 0 16px;
          width: 100%;
          height: 56px;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 56px;
          background: var(--gray2);
        }

        .reply-list {
          flex: 1;
          overflow-y: scroll;
          background: var(--white);
          position: relative;

          .reply-history {
            position: absolute;
            padding: 16px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;

            .reply-item {
              display: flex;
              margin-bottom: 8px;

              .reply-user {
                width: 94px;
                margin-right: 16px;
                font-size: 12px;
                color: var(--gray10);
              }

              .reply-content {
                flex: 1;
                font-size: 12px;
              }
            }
          }
        }

        .reply-form {
          background: var(--gray2);
          padding: 8px 16px;
          label {
            font-size: 1.2rem;
          }

          input {
            border: none;
            background: none;
            padding-left: 0;
            padding-right: 0;

            &::placeholder {
              color: var(--gray7);
            }
          }

          hr {
            margin-top: 2px;
          }

          >div {
            font-size: 1rem;
            color: var(--gray7);

            .btn-send {
              color: var(--black);
              background: var(--gray6);
              border-radius: 4px;
              margin-left: 16px;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .player-wrapper {
    .player {
      flex-direction: column;

      .left-wrapper,
      .right-wrapper {
        width: 100%;
        min-width: 100%;
      }
    }
  }
}
