<div class="player-wrapper">
  <div class="player">
    <div class="left-wrapper" id="playerContainer">
      <video #videoPlayer id="videoJs" class="video-js vjs-big-play-centered vjs-default-skin">
      </video>
    </div>
    <div class="right-wrapper">
      <!-- <div class="ad">
        <img src="assets/img/sponsors/list-sample2-big.png" role="img" alt="sponsor logo">
      </div> -->
      <div class="reply not-drag">
        <div class="reply-header">댓글</div>
        <div class="reply-list">
          <div class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys">
              <div class="reply-user">{{reply.username}}</div>
              <div class="reply-content">
                {{reply.content}}
              </div>
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="reply()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="댓글을 입력해 주세요." formControlName="content" />
          <hr>
          <div class="text-right">
            0/200 <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
