<div class="content-body">
  <div class="content-wrapper">
    <!-- LIVE session -->
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">Program</h2>
      </div>

      <div class="program-wrapper">
        <a [routerLink]="'/live'" title="live 바로가기">
          <app-time-table></app-time-table>
        </a>
      </div>
    </div>
    <!-- VOD session -->
    <!-- <div class="content-inner vod">
      <div class="title-wrapper">
        <h2 class="vod">VOD session<br class="d-block d-sm-none">
          <span class="vod-title-label">(본 세션은 평점이 인정되지 않는 세션입니다.)</span>
        </h2>
      </div>
      <div class="program-wrapper">

        <table class="vod-table">
          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <thead>
            <tr>
              <th>VOD Title</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vod of vods" (click)="goDetail(vod)">
              <td>{{vod.category.categoryName}}</td>
              <td>{{vod.title}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>
</div>
