.content-inner {
  &.vod {
    padding-top: 60px;
  }
}

.title-wrapper {
  h2 {
    &.live {
      // color: var(--yellow2);
    }

    &.vod {
      color: var(--blue2);
    }

    span.vod-title-label {
      margin-left: 24px;
      padding: 10px 20px;
      display: inline-block;
      color: var(--red);
      font-size: 1.3rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 22px;
      background: var(--yellow1);
    }
  }
}

.program-wrapper {
  padding: 24px 72px;
  background: var(--gray4);
  border: 1px solid var(--gray6);
  overflow-y: hidden;
  overflow-x: auto;

  .vod-table {
    width: 100%;

    th,
    td {
      padding: 8px;
      border-bottom: 1px solid var(--gray1);
    }

    thead th {
      background: var(--navy2);
      color: var(--white);
      text-align: center;
    }

    tbody td:nth-child(1) {
      text-align: center;
      background: var(--blue7);
      color: var(--white);
    }

    tbody td:nth-child(2) {
      background: var(--white);
      color: var(--black);
    }
  }
}

.download {
  margin-bottom: 40px;
  padding: 8px 16px;
  font-size: 1.2rem;
  background: var(--blue3);
  border-width: 0;
  border-radius: 8px;
  color: var(--white);

  /* 다운로드 아이콘 */
  .icon-download {
    padding-left: 16px;
    font-size: 1.4rem;

    &:before {
      color: var(--white);
    }
  }

  /* 책 아이콘 */
  .icon-book {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 16px;
    margin-right: 8px;
    background-image : url('/assets/icons/icon-book.png');
    background-size: contain;

  }
}


@media(max-width: 767px) {
  .title-wrapper {
    h2 {
      span.vod-title-label {
        margin-left: 16px;
        padding: 8px 16px;
        // font-size: 1.2rem;
      }
    }
  }

  .program-wrapper {
    padding: 8px 12px;
  }

}

@media(max-width: 575px) {
  .title-wrapper {
    h2 {
      span.vod-title-label {
        margin-left: 0;
        margin-top: 8px;
        // font-size: 1.1rem;
      }
    }
  }

  .program-wrapper {
    padding: 0px;
    background: transparent;
    border: none;
  }
}
