<div class="player-wrapper">
  <div class="player">
    <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
      <iframe id="UstreamIframe" src="https://video.ibm.com/combined-embed/23873151?videos=0" style="border: 0;"
        webkitallowfullscreen allowfullscreen frameborder="no" width="100%" height="100%"></iframe>
    </div>
  </div>
</div>
