.player-wrapper {
  .player {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 460px;

    #Container {
      // height:100%;
      padding-bottom: 0 !important;

      iframe {
        height: 100%;
      }
    }
  }
}

@media (max-width: 831px) {
  .player-wrapper {
    .player {
      // flex-direction: column;
      #Container {
        height: 100vh;
      }
    }
  }
}
