@import '../board.component.scss';

.board-write-body {
    .board-write-form {
        .row {
            margin-bottom: 8px;
        }
        .board-form-label {
            text-align: right;
            color: var(--gray10);
            font-size: 1.3rem;
            font-weight: 600;
        }
        .board-btn-wrapper {
            margin: 0;
            .board-btn {
                margin-right: 16px;
                background: var(--gray2);
                color: var(--gray10);
            }
        }
        input[type="radio"], input[type="checkbox"] {
            display: none;
        }
        input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
            .board-btn {
                background: var(--navy) !important;
                color: var(--white) !important;
            }
        }
        input[type="text"], textarea {
            padding: 16px;
            font-size: 1.2rem;
            background: var(--gray2);
            border: none;
            border-radius: 0;
            box-shadow: none;
        }
        input[type="text"] {
            min-height: 40px;
        }
        textarea {
            height: 256px;
        }
    }
    .board-write-form-footer {
        margin: 0;
        .board-writer-info-col {
            padding: 16px;
            background: var(--white);
            .board-writer-info {
                width: 450px;
            }
        }
    }
}

.board-write-footer {
    padding: 40px 0;
    .board-btn-wrapper {
        text-align: center;
        .board-btn {
            margin: 0 8px;
            display: inline-block;
            border-width: 0;
        }
    }
}

@media( max-width: 991px ) {
    .board-write-body {
        .board-write-form {
            .board-form-label {
                margin-bottom: 8px;
                text-align: left;
            }
        }
    }
}
@media( max-width: 767px ) {
    .board-write-body {
        .board-write-form {
            .board-form-label {
                font-size: 1.2rem;
            }
            .board-btn-wrapper {
                .board-btn {
                    margin-right: 8px;
                }
            }

            input[type="text"], textarea {
                padding: 8px 16px;
                font-size: 1.1rem;
            }
            input[type="text"] {
                min-height: 34px;
            }
            textarea {
                height: 200px;
            }
        }
        .board-write-form-footer {
            .board-writer-info-col {
                padding: 16px;
                .board-writer-info {
                    width: 100%;
                    max-width: 450px;
                }
            }
        }
    }
}