.content-body {

  .content-wrapper.login {
    padding-top: 0;
  }

  .login-title {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--gray14);
    font-weight: bold;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 15px 78px;
    border-top: 1px solid var(--gray18);
    border-bottom: 1px solid var(--gray18);

    .input-wrapper {
      display: flex;
      flex-direction: column;
      color: var(--gray14);

      label {
        font-size: 16px;
        font-weight: bold;
      }

      input {
        font-size: 16px;
        padding-left: 8px;
        width: 550px;
        height: 40px;
        border: none;
        // root color에 없음. #F2F2F2와 color가 비슷한 색으로 대체
        background-color: var(--gray2);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray2) inset;
      }

      input:focus {
        outline: 1px solid var(--gray14);
      }

      margin-bottom:8px;
    }
  }

  .login-bottom button,
  .submit-button button {
    outline: var(--gray2);
    border: none;
  }

  .login-bottom {
    display: flex;
    margin: 0 auto;
    width: 550px;
    height: 18px;
    justify-content: space-between;
    font-size: 1.1rem;

    .password-error {
      span {
        color: var(--red);
      }
    }

    .regist-button {
      button {
        background: none;
        border: none;
        color: var(--gray16);
      }
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    button {
      width: 160px;
      height: 40px;
      font-size: 14px;
      color: var(--white);
      background: var(--navy);
    }
  }
}

.policy-alert-btn {
  display: none;
}

.policy-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray19);



    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }

      .example {
        font-size: 1.0rem;
      }

      .ask-confirm {
        display: flex;
        place-content: center;
        font-size: 1.0rem;
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.0rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


.findPassword {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 740px;
    max-width: 100%;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .input-form {
      display: flex;
      flex-direction: column;
      color: var(--gray14);

      label {
        padding-left: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      input {
        align-self: center;
        font-size: 16px;
        padding-left: 8px;
        width: 450px;
        max-width: 100%;
        height: 40px;
        border: none;
        // root color에 없음. #F2F2F2와 color가 비슷한 색으로 대체
        background-color: var(--gray2);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray2) inset;
      }

      input:focus {
        outline: 1px solid var(--gray14);
      }

      margin-bottom:24px;
    }

    .submit-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      .confirm-btn {
        width: 250px;
        height: 50px;
        color: var(--white);
        font-size: 1.0rem;
        font-weight: 600;
        border-radius: 25px;
        background: var(--gray9);
        margin-bottom: 16px;
      }

      .cancel {
        color: var(--red);
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .content-body {
    .login-form {
      .input-wrapper {

        input {
          width: 100%;
          min-width: 320px;
        }
      }
    }

    .submit-button {
      margin-top: 12%;
    }
  }
}
