<div class="content-body">
  <app-banner></app-banner>
  <div class="content-wrapper login">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Get access to SCRMI 2020
        </div>
        <div>
          Login Now.
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
      </div>
      <div class="login-bottom">
        <div class="password-error">
          <span>{{passwordError}}</span>
        </div>
        <div class="regist-button">
          <!-- <button [routerLink]="'../registration'">Registration</button> -->
          <button data-toggle="modal" data-target="#findPassword">비밀번호 찾기</button>
        </div>
      </div>
      <div class="submit-button">
        <button (click)="login()">LOGIN</button>
      </div>
    </div>
  </div>
</div>

<button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          잠깐!
        </div>
        <div class="modal-description">
          <label class="mb-2">
            저작권 안내
          </label>
          <p class="mb-2">
            제7회 국제심포지엄 관련 저작물<span class="example">(사진, 글, 그림, 영상 등)</span>은<br>
            본 페이지에서만 이용 가능하며,<br><br>

            이 외의 공간에서 저작물을 무단으로 복제하거나 배포,
            전송하는 행위는 저작권법 위반에 해당 될 수 있습니다.
          </p>
          <label class="mb-2 ask-confirm">
            위 내용을 확인하셨습니까?
          </label>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert"
          (click)="goToMain()">
          예, 확인하였습니다.
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 찾기 -->
<div class="modal findPassword fade" id="findPassword" data-backdrop="static" role="dialog"
  aria-labelledby="findPassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 찾기
        </div>
        <div class="modal-description">
          <p>등록된 메일로 임시비밀번호를 발급합니다.<br>
            등록된 이메일을 작성해 주세요.
          </p>
        </div>
        <div class="input-form">
          <label for="pwd-email">E-mail</label>
          <input type="text" id="pwd-email" [(ngModel)]="pwdEmail" (keyup.enter)="sendEmail()">
        </div>
        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="sendEmail()">
            위 메일로 임시비밀번호를 발급합니다.
          </button>
          <button class="cancel" data-toggle="modal" data-target="#findPassword" (click)="cancelFindPwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
