<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">Posters</h2>
      </div>
      <div class="poster-detail-wrapper">
        <div class="poster-detail-title">
          <p>{{ selectedPoster.category?.categoryName }}</p>
          <h3>{{ selectedPoster.title }}</h3>
        </div>
        <div class="poster-detail-content">
          <div class="poster-content-header">
            <div class="poster-info">
              <h4>저자명</h4>
              <p>{{ selectedPoster.author }}</p>
            </div>
            <div class="poster-info">
              <h4>저자소속</h4>
              <p>{{ selectedPoster.company }}</p>
            </div>
            <div class="poster-info">
              <h4>첨부파일</h4>
              <p class="ellipsis">{{ selectedPoster.contents?.title }} [ <a
                  href="{{ selectedPoster.contents?.contentUrl }}"
                  target="_blank">{{ selectedPoster.contents?.contentUrl }}</a> ]</p>
            </div>
          </div>
          <div class="poster-content-body">
            <p [innerHTML]="selectedPoster.description | safeHtml"></p>
          </div>
        </div>
      </div>
      <div class="back-to-list">
        <a [routerLink]="'/posters'">
          <button>BACK TO LIST</button>
        </a>
      </div>
    </div>
  </div>
</div>
