.poster-detail-wrapper {
    .poster-detail-title {
        p {
            margin-bottom: 6px;
            font-size: 1.3rem;
            color: var(--gray10);
            font-weight: 600;
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    .poster-detail-content {
        margin: 24px 0;
        background: var(--gray5);
        .poster-content-header {
            padding: 24px 16px;
            border-bottom: 2px solid var(--gray10);
            .poster-info {
                margin-bottom: 16px;
                h4 {
                    margin-bottom: 4px;
                    font-size: 1.2rem;
                }
                p {
                    margin: 0;
                    font-size: 1.2rem;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        .poster-content-body {
            padding: 24px 16px;
            p {
                margin: 0;
                font-size: 1.2rem;
            }
        }
    }
}

.back-to-list {
    padding: 12px 0;
    text-align: center;
  
    button {
      width: 170px;
      height: 40px;
      background: var(--navy);
      color: var(--white);
      font-weight: 600;
      border: none;
    }
  }

@media(max-width: 767px) {
    .poster-detail-wrapper {
        .poster-detail-title {
            p {
                margin-bottom: 4px;
                font-size: 1.2rem;
            }
            h3 {
                font-size: 1.5rem;
            }
        }
        .poster-detail-content {
            margin: 16px 0;
            .poster-content-header {
                padding: 16px;
                .poster-info {
                    margin-bottom: 12px;
                }
            }
            .poster-content-body {
                padding: 16px;
            }
        }
    }
}


@media(max-width: 575px) {
    .poster-detail-wrapper {
        .poster-detail-title {
            p {
                font-size: 1.1rem;
            }
            h3 {
                font-size: 1.4rem;
            }
        }
        .poster-detail-content {
            .poster-content-header {
                .poster-info {
                    h4 {
                        font-size: 1.1rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
            .poster-content-body {
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
    
}