.banner-wrapper {
  position: relative;
  .m-banner-image {
    display: none;
    width:100%;
    height: 348px;
    max-height: 28vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    .m-banner-image {
      display: block;
      max-height: 14vh;
    }
    img {
      display: none;
    }
  }

}
