.title-wrapper {
  position: relative;
  padding-right: 80px;
}

h3 {
  margin-bottom: 16px;
  padding: 0;
  font-size: 1.5rem;
  color: var(--gray14);
  font-weight: bold;
}

.info-inner {
  position: relative;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.info-title,
.info-desc {
  font-size: 1.33rem;

}

.info-title {
  color: var(--gray14);
}

.info-desc {
  color: var(--gray16);
  word-break: break-all;
}

.my-page-inner {
  margin-bottom: 16px;
  padding: 16px;
  // root color에 없음. #E6E6E6 color와 비슷한 색으로 대체
  border: 1px solid var(--gray5);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: var(--white);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;

  &.personal-information {
    padding: 16px 16px 8px;

    .info-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .info-inner {

      flex-basis: 70%;
      margin-bottom: 0;

      &:nth-child(odd) {
        flex-basis: 21.5%;

        .info-desc {
          min-width: 200px;
          padding-right: 54px;
        }
      }
    }

    .info-title {
      font-weight: bold;
      color: var(--gray14);
    }

    .info-desc {
      // min-width: 212px;
      // padding-right: 8px;
      margin-bottom: 8px;
    }

    .email-change {
      color: var(--gray16);
      text-decoration: underline;
    }
  }

  &.attendance {
    color: var(--gray16);

    .info-inner {
      margin-bottom: 0;
    }

    .info-title,
    .info-desc {
      display: inline-block;
    }

    .info-title {
      min-width: 147px;
      padding-right: 16px;
      color: var(--gray16);
      text-align: left;
    }

    .info-desc {
      width: 40%;
      color: var(--blue5);
      font-weight: bold;
      text-align: left;

      &.not {
        color: var(--red);
      }
    }
  }

  &.viewing-record {

    .title-wrapper {
      margin: 0;
      border: none;

    }

    h3 {
      display: inline-block;
      position: relative;
      margin-right: 16px;
    }

    .info {
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 16px;
      font-size: 1.16rem;
      color: inherit;
    }

    .item-time-total {
      display: inline-block;
      position: absolute;
      right: 8px;
      font-size: 1.5rem;
      color: inherit;
      font-weight: bold;
    }

    span {
      display: block;
      margin-bottom: 4px;
      // root color에 없음. #6a6a6a color가 비슷한 색으로 대체
      color: var(--gray12);
    }

    .item-vod {
      position: relative;
      height: 112px;
      margin-top: 16px;
      margin-bottom: 32px;
      padding: 8px;
      font-size: 1.33rem;
      // root color에 없음. #e5e5e5 color가 비슷한 색으로 대체
      border: 1px solid var(--gray5);

      >p {
        margin-bottom: 6px;
        word-break: break-all;
      }

      .item-title {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      }

    }

    .item-live {
      @extend.item-vod;

      display: block;
      height: auto;
      margin: 0 0 8px;
      padding-left: 18px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stamp-tour {
  padding-bottom: 0;

  .stamp-item {
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 16px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;

    .spon-logo {

      &.opacity {
        opacity: 0.5;
      }
    }

    .stamp-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}

.changePassword {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 740px;
    max-width: 100%;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .input-form {
      display: flex;
      flex-direction: column;
      color: var(--gray14);

      label {
        padding-left: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      input {
        align-self: center;
        font-size: 16px;
        padding-left: 8px;
        width: 450px;
        max-width: 100%;
        height: 40px;
        border: none;
        // root color에 없음. #F2F2F2와 color가 비슷한 색으로 대체
        background-color: var(--gray2);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray2) inset;
      }

      input:focus {
        outline: 1px solid var(--gray14);
      }

      margin-bottom:24px;
    }

    .submit-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      .confirm-btn {
        width: 250px;
        height: 50px;
        color: var(--white);
        font-size: 1.0rem;
        font-weight: 600;
        border-radius: 25px;
        background: var(--gray9);
        margin-bottom: 16px;
      }

      .cancel {
        color: var(--red);
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .my-page-inner.viewing-record {
    .info {
      display: block;
    }
  }
}

@media screen and (max-width : 575px) {

  .title-wrapper {
    padding-right: 0;
  }

  .my-page-inner.attendance {

    .info-title {
      width: 58%;
    }

    .info-desc {
      width: 40%;
      text-align: right;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
    }
  }

  .my-page-inner.viewing-record {

    .item-time-total {
      font-size: 1.25rem;
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
  }
}
