<div class="content-body">
  <div class="content-wrapper board-list-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>게시판</h2>
      </div>

      <form class="search-wrapper" [formGroup]="search" (submit)="submit()">
        <select class="form-control form-control-lg select-box ellipsis not-drag" formControlName="type">
          <option value="">전체</option>
          <option value="notice">공지사항</option>
          <option value="faq">FAQ</option>
        </select>
        <input type="text" class="form-control search-input" placeholder="내용을 입력하세요." formControlName="keyword">
        <button class="btn search-btn" type="submit">검색</button>
      </form>

      <div class="board-list not-drag">
        
        <div class="board-header">
          <div class="row">
            <div class="col col-lg-2 col-3 text-center">구분</div>
            <div class="col col-lg-7">제목</div>
            <div class="col col-lg-1 col-2 text-center">작성자</div>
            <div class="col col-lg-2 col-3 text-center">등록일</div>
          </div>
        </div>

        <div class="board-item">
          <div class="row" *ngFor="let board of boards; let i = index" [routerLink]="'/board/'+board.id"
            [ngClass]="{'fix': board.isFixed}">
            <div class="col col-lg-2 col-3 text-center" [ngSwitch]="board.type"> 
              <span *ngSwitchCase="'post'">{{ board.index }}</span>
              <span *ngSwitchCase="'notice'">공지사항</span>
              <span *ngSwitchCase="'faq'">FAQ</span>
            </div>
            <div class="col col-lg-7 ellipsis">{{board.title}}</div>
            <div class="col col-lg-1 col-2 text-center">{{board.writer}}</div>
            <div class="col col-lg-2 col-3 text-center">{{board.updatedAt | date: 'yyyy-MM-dd'}}</div>
          </div>
        </div>

        <div class="board-footer">
          <div class="pagination">
            <ul>
              <li class="prev" (click)="prev()">&#60;</li>
              <li *ngFor="let page of pages" [ngClass]="{'active' : curPage === page}">{{page}}</li>
              <li class="next" (click)="next()" >&#62;</li>
            </ul>
          </div>
          <!-- <div class="board-btn" [routerLink]="'/board-regist'">글쓰기</div> -->
        </div>
        
      </div>
    </div>
  </div>
</div>
