.content-body {
  .about .title-wrapper .welcome-title-image {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
    background-image: url('/assets/img/welcome-title.png');
    background-size: contain;
    vertical-align: middle;
  }

  .program {
    .timetable-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .sub-title-wrapper {
      padding-bottom: 40px;

      .download {
        padding: 8px;
        font-size: 1.2rem;
        background: var(--blue3);
        border-width: 0;
        border-radius: 8px;
        color: var(--white);

        /* 다운로드 아이콘 */
        .icon-download {
          padding-left: 16px;
          font-size: 1.4rem;

          &:before {
            color: var(--white);
          }
        }

        /* 책 아이콘 */
        .icon-book {
          display: inline-block;
          vertical-align: middle;
          width: 22px;
          height: 16px;
          margin-right: 8px;
          background-image : url('/assets/icons/icon-book.png');
          background-size: contain;

        }
      }

    }
  }

  .speaker #speakerList {
    .carousel-item {
      padding: 16px 70px;
      text-align: center;
    }

    .slider-btn {
      position: absolute;
      width: 62px;
      height: 62px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-color: var(--white);
      color: var(--black);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &:hover {
        text-decoration: none;
      }

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }

  .sponsors {

    .title-wrapper {
      &.border-none {
        border: none;
        text-align: center;
      }
    }

    h3 {
      display: inline-block;
      padding: 16px 64px;
      font-size: 20px;
      border-radius: 27px;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      -ms-border-radius: 27px;
      -o-border-radius: 27px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .list-wrapper {
      padding: 0 64px;

      .list-item {
        flex: 0 0 20%;
        max-width: 20%;
        margin-bottom: 40px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }

  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 32px;

  .view-more {
    padding: 0 16px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 167px;
    height: 38px;
    line-height: 38px;
    background: var(--gray6);
    color: var(--gray12);
    font-size: 1.2rem;
    border: none;

    .icon-more {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      font-size: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .speaker-item .col-2 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
  }

}

@media (max-width: 1024px) {
  .content-body .sponsors {

    .list-wrapper {
      padding: 0;

      .list-item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}

@media (max-width: 768px) {
  .content-body .sponsors {

    .list-wrapper {

      .list-item {
        flex: 0 0 33.33%;
        max-width:33.3%
      }
    }
  }
}

@media (max-width: 575px) {
  .sub-title-wrapper {
    padding-bottom: 16px !important;
    .text-right button {
      margin: 16px auto;
      display: block;
      width: 100%;
      max-width: 300px;
    }
  }

  .speaker #speakerList {
    .carousel-item {
      padding: 0 40px !important;
    }
    .slider-btn {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .content-body .sponsors {

    .list-wrapper {

      .list-item {
        flex: 0 0 50%;
        max-width: 50%
      }
    }
  }
}



