<div class="content-body">
  <app-banner></app-banner>

  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-3" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>더보기</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <div class="sub-title-wrapper">
        <div class="text-right">
          <a class="download" target="_blank" [href]="ebookUrl">
            <i class="icon-book" aria-hidden="true"></i>
            <span>초록집 다운로드</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="timetable-wrapper">
        <a [routerLink]="'/program'" title="program 바로가기">
          <app-time-table></app-time-table>
        </a>
      </div>
    </div>
  </section>

  <section class="sponsors">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <div class="list-wrapper row m-0" *ngFor="let category of categories">
          <div class="list-item px-3" *ngFor="let sponsor of category.sponsors">
            <app-sponsor [sponsor]="sponsor"></app-sponsor>
          </div>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/sponsors'">
            <span>더보기</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
