<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div *ngIf="speakers">
        <div class="title-wrapper">
          <h2>해외 재외 연자</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers.International">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>연자</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers.Speaker">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>좌장</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers.Chairman">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
