.session-wrapper {
  border-bottom: 1px solid var(--gray7);
  background: var(--gray1);

  .session-item {
    display: flex;

    .lt {
      padding: 32px 0 32px 181px;
      width: 318px;
      height: 100%;
      text-align: right;

      .title {
        padding-right: 20px;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .rt {
      padding: 16px;
      width: calc(100% - 318px);
      min-height: 100%;
      border-left: 1px solid var(--gray7);

      &>div {
        margin-bottom: 12px;
      }

      .category {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
      }

      .room {
        font-size: 1.3rem;
        color: var(--white);
      }

      .chair,
      .organizers {
        position: relative;
        padding-left: 16px;
        font-size: 1.4rem;
        color: var(--white);

        &::after {
          position: absolute;
          content: '|';
          left: 0;
        }
      }

      .description {
        margin-bottom: 16px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        line-height: 1.5rem;
      }

    }
  }
}

@media screen and (max-width : 768px) {
  .session-wrapper {
    .session-item {
      flex-wrap: wrap;

      .lt,
      .rt {
        width: 100%;
      }

      .lt {
        padding: 32px 0 0 0;
        text-align: left;

        .time {
          max-width: 150px;
        }
      }

      .rt {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
  }
}
