.agenda-wrapper {
  border-bottom: 1px solid var(--gray7);
  background: var(--gray1);

  &.is-live {
    background: var(--pink);
  }

  .agenda-item {
    display: flex;

    .lt {
      padding: 32px 0 32px 182px;
      width: 318px;
      height: 100%;

      .time {
        padding-left: 8px;
        color: var(--gray14);
        border-bottom: 1px solid var(--gray7);
        font-size: 1.5rem;
      }

      .live {
        padding: 8px;
        color: var(--red);
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 800;
        -webkit-text-stroke: 1px var(--white);
      }
    }

    .rt {
      padding: 16px;
      width: calc(100% - 318px);
      min-height: 100%;
      border-left: 1px solid var(--gray7);

      &>div {
        margin-bottom: 12px;
      }

      .category {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .room {
        font-size: 1.3rem;
        color: var(--gray11);
      }

      .title h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .chair,
      .organizers {
        position: relative;
        padding-left: 16px;
        font-size: 1.4rem;
        color: var(--blue4);

        &::after {
          position: absolute;
          content: '|';
          left: 0;
        }
      }

      .description {
        margin-bottom: 16px;
        font-size: 1.2rem;
        color: var(--gray14);
        line-height: 1.5rem;
      }

    }
  }

  .view-detail {
    padding:0;
    font-size: 1.25rem;
    color: var(--gray21);
  }
}

@media screen and (max-width : 768px) {
  .agenda-wrapper {
    .agenda-item {
      flex-wrap: wrap;

      .lt,
      .rt {
        width: 100%;
      }

      .lt {
        padding: 32px 0 0 0;

        .time {
          max-width: 150px;
        }
      }

      .rt {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
  }
}
