<div class="agenda-wrapper" *ngIf="agenda" [ngClass]="{'is-live' : isLive}">
  <div class="content-inner agenda-item">
    <div class="lt">
      <div class="time">
        <span *ngIf="agenda.startTime">{{agenda.startTime}}~</span>
        <span *ngIf="agenda.endTime">{{agenda.endTime}}</span>
      </div>
      <div class="live" *ngIf="isLive">LIVE</div>
    </div>
    <div class="rt">
      <div class="category" *ngIf="agenda.category">
        {{agenda.category.categoryName}}
      </div>

      <div class="room" *ngIf="agenda.room">
        <span *ngIf="agenda.track && agenda.track.trackName">{{agenda.track.trackName}}</span>
      </div>

      <div class="title" *ngIf="agenda.title">
        <h2 class="m-0">{{agenda.title}}</h2>
      </div>

      <div class="organizers" *ngIf="agenda.international && agenda.international.length">
        International:
        <span *ngFor="let international of agenda.international;let i = index">
          {{international.fullName}}<span *ngIf="agenda.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="chair" *ngIf="agenda.chairman && agenda.chairman.length">
        Chair:
        <span *ngFor="let chair of agenda.chairs;let i = index">
          {{chair.fullName}}<span *ngIf="agenda.chairs[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="agenda.speakers && agenda.speakers.length">
        Speaker:
        <span *ngFor="let speaker of agenda.speakers;let i = index">
          {{speaker.fullName}}<span *ngIf="agenda.speakers[i+1]">,</span>
        </span>
      </div>

      <div class="description" *ngIf="agenda.description" [innerHTML]="agenda.description">
      </div>

      <button class="view-detail" type="button" *ngIf="agenda.isDetail" (click)="detailFn.emit(agenda)">내용 상세보기</button>

      <div class="lectures" *ngIf="agenda.lectures && agenda.lectures.length">
        <app-program-vod *ngFor="let lecture of agenda.lectures" [vod]="lecture"></app-program-vod>
      </div>

    </div>
  </div>
</div>
