<div class="page">
  <!-- <div class="program-nav">
      <div class="content-inner dates">
        <app-program-nav [list]="dates" [key]="'title'" [cssClass]="'nav-1'" (clickFn)="setDate($event)">
        </app-program-nav>
        <a class="btn btn-vod" [routerLink]="'../vod'">VOD</a>
      </div>
    </div> -->
  <!-- 프로그램 플레이어 -->
  <div class="content-body">
    <div class="content-inner">
      <app-player *ngIf="vod" [content]="vod" [isDetail]="false" [isBanner]="false"></app-player>
      <app-program-vod *ngIf="vod" [vod]="vod"></app-program-vod>

      <div class="back-to-list">
        <button (click)="goBack()">BACK TO LIST</button>
      </div>
    </div>
  </div>
</div>
