.program-nav-wrapper {
  .program-nav-title {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
  }

  .program-nav-list {
    min-height: 56px;
    background: var(--white);
    text-align: center;
    .content-inner {
      min-height: 100%;
      .program-nav-item {
        min-width: 25%;
        height: 56px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border: 1px solid var(--gray5);
        background: var(--white);
        box-sizing: border-box;
        &.active {
          color: var(--white);
        }
      }
    }

    &.days .program-nav-item {
      color: var(--navy);

      &.active {
        background: var(--navy);
      }
    }

    &.channels .program-nav-item {
      color: var(--navy);

      &.active {
        background: var(--blue4);
      }
    }
  }
}


@media (max-width: 768px) {
  .program-nav-list .program-nav-item {
    min-width: 50% !important;
  }
}
