<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
          <span class="vod-title-label">(본 세션은 평점이 인정되지 않는 세션입니다.)</span>
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <app-program-vod *ngFor="let vod of vods" [vod]="vod"></app-program-vod>
      </div>
    </article>
  </div>
</div>
