.title-wrapper {
  h2 {
    &.vod {
      color: var(--gray14);
    }
    span.vod-title-label {
      margin-left: 24px;
      padding: 10px 20px;
      display: inline-block;
      color: var(--red);
      font-size: 1.3rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 22px;
      background: var(--yellow1);
    }
  }
}
