.title-wrapper {
  h2 {
    &.vod {
      color: var(--gray14);
    }
    span.vod-title-label {
      margin-left: 24px;
      padding: 10px 20px;
      display: inline-block;
      color: var(--red);
      font-size: 1.3rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 22px;
      background: var(--yellow1);
    }
  }
}

.back-to-list {
  padding: 32px 0;
  text-align: center;

  button {
    width: 170px;
    height: 40px;
    background: var(--navy);
    color: var(--white);
    font-weight: 600;
    border: none;
  }
}
