<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper mb-0">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
          <span class="vod-title-label">(본 세션은 평점이 인정되지 않는 세션입니다.)</span>
        </h2>
      </div>
    </div>

    <article>
      <div class="content-inner" *ngIf="vod">
        <app-player [content]="vod.contents"></app-player>
        <app-program-vod [vod]="vod"></app-program-vod>
        <div class="back-to-list">
          <button (click)="goBack()">BACK TO LIST</button>
        </div>
      </div>
    </article>
  </div>
</div>
