<div class="content-body">

  <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"></app-program-nav>

  <div class="content-inner">
    <div class="live-player">
      <app-player-ustream></app-player-ustream>

      <div class="live-info row m-0">
        <div class="col-8 p-0 d-flex align-items-center">
          <div class="live-agenda" *ngIf="isLiveAgenda">
            <div class="category" *ngIf="isLiveAgenda.category">
              {{isLiveAgenda.category.categoryName}}
            </div>
            <div class="title" *ngIf="isLiveAgenda.title">
              {{isLiveAgenda.title}}
            </div>
          </div>
        </div>
        <div class="col-4 p-0 d-flex align-items-center justify-content-end">
          <!-- <button class="btn btn-atndn-check" [ngClass]="getAttendance()" (click)="atndnCheck()">
            {{getAttendance() === 'in' ? '입장':'퇴실'}}
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Agendas -->
  <div class="content-inner">
    <div *ngFor="let agenda of agendas">
      <div *ngIf="agenda.isSession; else isAgenda">
        <app-session [session]="agenda"></app-session>
      </div>
      <ng-template #isAgenda>
        <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
        </app-agenda>
      </ng-template>
    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">Entry modal open</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          잠깐!
        </div>
        <div class="modal-description">
          <label class="mb-2">온라인 평점을 위해 입장 / 퇴실 시간을 반드시 남겨주세요!</label>
          <p>아래 버튼을 눌러<br /><b>LIVE session</b> 시청 기록을 남깁니다.</p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" [ngClass]="getAttendance()" data-toggle="modal"
          data-target="#entryAlert" (click)="atndnCheck()">
          {{getAttendance() === 'in' ?'입장':'퇴실'}}
        </button>
      </div>
    </div>
  </div>
</div>
